*{
    margin: 0;
    padding: 0;
}
body{
   
    background: linear-gradient(135deg, #0c1013, #25253a);
}
.container{
    display: flex;
    flex-direction: row;
    height: 560px;
    background: #fff;
    margin: 50px;
    border-radius: 5px;
}

.side { 
    background: url(images/d.jpeg) center/cover no-repeat;
    background-size: cover;
    width: 50%;
    height: 41vw;
    margin-right: 20px;
}

form{
    margin-top: 60px;
    width: 50%;

} .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

form .user-details .user_input{
    width: calc(100% / 2 - 20px);
}
.user-details .user_input input{
 height: 45px;
 width: 90%;
 outline: none;
 border-radius: 5px;
 border: 1px solid #ccc;
 padding-left: 15px;
font-size: 16px;
border-bottom-width: 2px;
transition: all 0.3s ease;
}

.user-details .user_input input:focus,
.user-details .user_input input:valid{
 border-color: #9b59b6 ;

}

.button{
    padding: 10px 15px;
    width: 40%;
    margin-top: 40px;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #0c1013, #25253a);
}

.button:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px){
    .container{
        max-width: 100%;
    }

    form .user-details .user_input{
        margin-bottom: 15px;
        width: 100%;
    }

    .container form .user-details{
        max-height: 450px;
        overflow-y:  scroll;
    }
}

